body {
    width: 100%;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}


.header {
    background-color: rgb(34, 34, 50);  
    padding: 0 200px;       
    font-size: 16px;    
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.header a {
    color: rgb(231, 233, 235); 
    text-decoration: none;
}

.landing1 {
    height: 400px;
    background-color: rgb(20, 20, 52); 
    padding: 50px 200px;
    color: rgb(231, 233, 235);  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing1 .texts {
    width: 40%;
}

.landing1 .text1 {
    font-size: 56px;
    font-weight: 900;
    padding-bottom: 20px;
}

.landing1 .text2 {
    font-size: 24px;
    padding-bottom: 20px
}

.landing1 img {
    width: 40%;
}

.landing1 button {
    background-color:rgb(70, 135, 233);
    color: #eee;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
}